<h1>La todolist redux style !</h1>
<form [formGroup]="todoForm" (ngSubmit)="createTodo(todoForm.value)">
  <label>Titre :</label>
  <input type="text" formControlName="title" placeholder="Title" />
  <label>Est-elle terminé ? :</label>
  <input type="checkbox" formControlName="completed" />
  <button>Créer</button>
</form>
<ul>
  <li *ngFor="let todo of todos$ | async">
    <label>{{ todo.title }}</label>
    <input type="checkbox" [ngModel]="todo.completed" />
    <button (click)="selectTodo(todo)">Modifier</button>
    <button (click)="deleteTodo(todo.id)">Supprimer</button>
  </li>
</ul>
